<!DOCTYPE html>
<html>

<head>
    <title>Candidates</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='candidates.css') }}">
    <script src="{{ url_for('static', filename='candidates.js') }}"></script>
    <link rel="icon" href="{{ url_for('static', filename='site icons/melee.ico') }}">
</head>

<body>
    <span>
        <audio autoplay loop id="melee-music">
            <source src="{{ url_for('static', filename='site sounds/MeleeMenuSong.mp3') }}" type="audio/mpeg">
            <script>
                var audio = document.getElementById("melee-music");
                audio.volume = 0.5;
            </script>
        </audio>

        <audio autoplay id="melee-announce">
            <source src="{{ url_for('static', filename='site sounds/MELEE.mp3') }}" type="audio/mpeg">
        </audio>
        <div id="video-container">
            <video autoplay loop>
                <source src="{{ url_for('static', filename='site sounds/MeleeBG.mp4') }}" type="video/mp4">
            </video>
        </div>
        <div>
            <img src="{{ url_for('static', filename='site images/point.png') }}" id="custom-cursor">
        </div>
        <div>
            <img src="{{ url_for('static', filename='site images/MeleeChip.gif') }}" id="player-chip">
        </div>
    </span>

    
    <div id="melee-overlay-div">
        <img src="{{ url_for('static', filename='site images/meleeoverlay.png') }}" id="melee-overlay">
    </div>

    <div id="characters-overlay-div"></div>

    <div id="characters-div">
        {% for candidate in candidates %}
            {% set filename = filenames[loop.index - 1] %}
            <div class="character" id="char_{{candidate[0]}}">
                <h1 class="character-name">{{ candidate[1].split(' ')[0] }}</h1>
                <img src="{{ url_for('static', filename='candidate images/' ~ filename) }}" class="portrait">
                
                {% if candidate[0] == 25 %}
                <img src="{{ url_for('static', filename='site images/meleecharacterframe.png') }}" class="frame">
                {% else %}
                <img src="{{ url_for('static', filename='site images/meleecharacterframe.png') }}" class="frame">
                {% endif %}
            </div>
        {% endfor %}
        
        {% for i in range(1, 40) %}
            <div class="character">
                <h1 class="character-name">fart</h1>
                <img src="{{ url_for('static', filename='candidate images/test.png') }}" class="portrait">
                <img src="{{ url_for('static', filename='site images/meleecharacterframe.png') }}" class="frame">
            </div>
        {% endfor %}
    </div>
</body>

</html>