<!DOCTYPE html>
<html>

<head>
    <title>homepage</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <script src="{{ url_for('static', filename='index_videoaudio.js') }}"></script>
    <script src="{{ url_for('static', filename='index_boxes.js') }}"></script>

</head>

<body>

    <h1 id="Credit">Designed by Aaron Hampson.</h1>

    <audio loop id="bgm">
        <source src="{{ url_for('static', filename='site sounds/CS.ogg') }}" type="audio/ogg">
    </audio>

    <audio id="hover">
        <source src="{{ url_for('static', filename='site sounds/plim.mp3') }}" type="audio/mpeg">
    </audio>

    <audio id="openingsound">
        <source src="{{ url_for('static', filename='site sounds/mainmenuopen.mp3') }}" type="audio/mpeg">
    </audio>

    <div class="overlay-container">
        <img src="{{ url_for('static', filename='site images/p3overlay.png') }}" id="overlay">
    </div>

    <div class="video-container">
        <video id="openingVideo" autoplay muted playsinline>
            <source src="https://p3re.jp/en/resources/img/top/fv_movie1_bef3ec38c6b4ba869207fc85cf95bc78.mp4"
                type="video/mp4">
        </video>
        <video id="loopingVideo" muted playsinline loop>
            <source src="https://p3re.jp/en/resources/img/top/fv_movie2_1aaf21a0de60678450744da0dbaf9ef4.mp4"
                type="video/mp4">
        </video>
    </div>

    <svg class="selector1" viewBox="0 0 125 150" preserveAspectRatio="none">
        <polygon class="white" points="120,20 110,150 20,115"></polygon>
    </svg>

    <svg class="selector2" viewBox="0 0 125 150" preserveAspectRatio="none">
        <polygon class="red" points="125,10 115,150 10,115"></polygon>
    </svg>

    <button class="MenuButtons" id="MenuB1">
        <a href="{{ url_for('candidates') }}" class="MenuText" id="MenuB1Text">ABOUT</a>
    </button>
    <button class="MenuButtons" id="MenuB2">
        <a href="{{ url_for('candidates') }}" class="MenuText" id="MenuB2Text">CANDIDATES</a>
    </button>
    <button class="MenuButtons" id="MenuB3">
        <a href="{{ url_for('register') }}" class="MenuText" id="MenuB3Text">REGISTER</a>
    </button>
    <button class="MenuButtons" id="MenuB4">
        <a href="{{ url_for('admin') }}" class="MenuText" id="MenuB4Text">ADMIN</a>
    </button>
    <button class="MenuButtons" id="MenuB5">
        <a href="{{ url_for('login') }}" class="MenuText" id="MenuB5Text">CREDITS</a>
    </button>
</body>

</html>