<!DOCTYPE html>
<html>

<head>
    <title>Log In</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='skyrim.css') }}">
</head>

<body>
    <audio autoplay loop>
        <source src="{{ url_for('static', filename='site sounds/skyrimtheme.mp3') }}" type="audio/mpeg">
    </audio>
    
    <video autoplay loop>
        <source src="{{ url_for('static', filename='site sounds/smoke.mp4') }}" type="video/mp4" id="video-background">
    </video>

    <div class="main-container">
        <img src="{{ url_for('static', filename='site images/skyrimoverlay.png') }}" id="skyrim-menu">

        {% if error %}
        <div id="error">
            <p>{{ error }}</p>
        </div>
        {% endif %}

        <div id="login-form">
            <form method="POST" id="loginForm">
                <label for="username" class="text-entry">Username</label>
                <input type="text" id="username" name="username" required>
                <label for="password" class="text-entry">Password</label>
                <input type="password" id="password" name="password" required>
                <input type="submit" value="Log-In" id="submit">
            </form>
        </div>
        
        <button id="back-button" onclick="window.location.href='{{ url_for('home') }}'"></button>
        <img src="{{ url_for('static', filename='site images/selectorleft.png') }}" class="hidden" id="s-left">
        <img src="{{ url_for('static', filename='site images/selectorright.png') }}" class="hidden" id="s-right">
        
    </div>

</body>

</html>
